body {
	font-family: Helvetica;
	margin: 10px;

}

.container {
	display: flex;
	flex-wrap: wrap;
	background-color: red;
	flex-direction: row;
	padding: 10px;
}

.column-layout {
	display: flex;
	margin: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.side-1 {
	flex: 1;

}

.side-2 {
	flex: 3;

}